@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("./resources/fonts/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: local("Myriad Pro Regular"), url("./resources/fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("./resources/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: 'Oswald';
  src: url("./resources/fonts/Oswald-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  font-family: 'Myriad Pro Bold', sans-serif;
  list-style-type: none;
}

#nav-logo {
  width: 79px;
  height: 70px;
  -webkit-filter: drop-shadow(7px 8px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(7px 8px 4px rgba(0, 0, 0, 0.25));
}

#nav-logo-tagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
}

#nav-links {
  list-style-type: none;
  word-spacing: 5rem;
}

#nav-links li {
  display: inline-block;
  font-size: 24px;
}

#nav-links li a {
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#nav-links li a:hover {
  color: #C5B783;
}

#index-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 23%;
  padding-right: 23%;
}

#index-header-headings {
  color: #0C2340;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% 0% 2% 0%;
}

#index-header-headings h2 {
  color: #0C2340;
}

#index-header-headings h2,
#index-header-headings span {
  font-family: Bebas Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 110px;
  font-size: 5.75rem;
}

#index-header-headings h3 {
  font-family: Oswald, sans-serif;
  line-height: 316.7%;
  letter-spacing: 0.3em;
}

#index-banner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index-banner-image picture {
  max-width: 1585px;
}

#index-banner-image picture img {
  width: 100%;
  height: auto;
}

#index-body-header {
  padding-top: 0px;
  padding-left: 23%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#index-body-header h1 {
  font-family: Bebas Neue, sans-serif;
  color: #0C2340;
  font-weight: bold;
  font-size: 45px;
}

#index-body {
  margin-top: 2%;
  margin-bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index-body-text,
#index-body-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#index-body-text {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.index-body-text {
  line-height: 2rem;
  font-size: 1.5rem;
  font-style: normal;
  font-family: 'Myriad Pro Regular', sans-serif;
  padding: 2% 2% 2% 23%;
  color: #4C5B67;
}

#index-body-image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index-footer-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8%;
}

#footer-bosco-info,
#footer-tribe-info,
#footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#footer-bosco-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

#footer-tribe-info {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer-address {
  padding-left: 4%;
}

#footer-contact {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer-contact p {
  margin-bottom: 6%;
}

#footer-contact ul li img {
  width: 85%;
}

#footer-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gold-font {
  color: #C5B783 !important;
}

.round {
  border-radius: 40px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  font-size: 24px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-style: solid;
  border-top-color: #C5B783;
}

header,
footer {
  background-color: #0C2340;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  color: white;
}
/*# sourceMappingURL=styles.css.map */